* margin {
    padding: 0%;
    margin: 0%;
}

body {
    margin: 0%;
    padding: 0%;
}

.fix-header {
    background-color: rgba(54, 24, 80, 0.836) ;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-items: flex-start;
    align-items: center;
    position: fixed;
    margin-top: -30vh;
    height: 12vh;
    width: 98.75vw;
    color: gold;
    z-index: 50;
    animation-name:fix-header;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    direction: alternate;
    animation-fill-mode: alternate;
}

@keyframes fix-header {
    0% { height: 0px;}
    25% {height: 25px;}
    50% { height: 50px;}
    75% { height: 75px;}
    100% { height: 100px;}
}
.tv-icon {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    color: aliceblue;
    gap: 2px;
}
.tv-icon :hover {
    background-color: yellow;
    color: black;
}
.fix-header-bar{
    width: 50vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
    list-style-type: none;
    text-decoration: none;   
}
.fix-header-bar li a {
    text-decoration: none !important;
    color: inherit;
}

.fix-header-bar :hover {
    background-color: blueviolet;
}
.header-social{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    justify-items: center;
}
.header-social :hover {
    background-color: yellow;
}
.header-top {
    width: 98.75vw;
    height: 29.5vh;
}

.header-bottom {
    border: solid 1px yellow;
    height: 20vh;
    width: 98.vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-content: center;
}
.header-nowon {
    background-color: yellow;
    width: 25vw;
    height: 20vh;
}
.nowon-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.nowon-text1 {
    color: rgba(63, 27, 97, 0.89);
    font-size: 1.8em;
}
.nowon-text2 {
    color: blueviolet;
    font-size: 4em;
}
.flip-area {
    border: solid 1px yellow;
    border-color: yellow;
    background-color: yellow;
    height: 19.75vh;
    width: 48vw;
    display: flex;
    flex-direction: row;
    gap: 1px;
}
.ghaata {
    border:solid 1px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 19.5vh;
    width: 20vw;
}
.ghaata-img {
    height: 118px;
    width:  6vw;
}
.responsive-ghaata-img {
    height: 119px;
    width:  16vw;
    margin-left: -40px;
}
.ghaata-text {
    font-size: 1em;
    color: rgba(63, 27, 97, 0.89);
    margin-left: -40px;
}

.shiddat {
    border:solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blueviolet;
    height: 19.5vh;
    width: 16vw;
    position: relative;
}
.responsive-shiddat-img {
    position: absolute;
    height: 130px;
    width:  8vw;
    left: -37px;
}
.shiddat-text {
    color: black;
    font-size: 1em;
    margin-top: -10px;
}
.bayhad {
    border: solid 1px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blueviolet;
    height: 19.5vh;
    width: 16vw;
    position: relative;
}
.bayhad-img {
    width: 40px;
}
.responsive-bayhad-img {
    position: absolute;
    height: 130px;
    width:  8vw;
    left: -37px;
}
.bayhad-text {
    color: black;
    font-size: 1em;
    margin-top: -10px;

}
.header-next {
    background-color: yellow;
    width: 25.5vw;
}
.next-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 2em;
    color: blueviolet;
}

.center {
    background-image: url("../Abid Tanoli/Schedule/Big/big2_bg.jpg");
    height: auto;
    width: 98.75vw;
}
.right-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.leftcard {
    width: 15vw;
    margin-left: 100px;
}
.rightcard {
    width: 15vw;
    margin-right: 100px;
}
.container-main {
    color: rgba(255, 217, 0, 0.685);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: auto;
}
.car1_item{
    margin-top: 5vh;
    margin-left: 0px;
}
.container-left{
    width: 68vw;
}

.container-left .program-text {
    padding-left: 25px;
    font-size: 3em;
    color: rgba(255, 255, 0, 0.726);
}
.container-left .program .programlist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    gap: 20px;
    justify-content: space-evenly;
    color: white;
    animation-name: programlist;
    animation-duration: 10s;
    animation-iteration-count: 4;
    animation-fill-mode: alternate;
    animation-timing-function: ease-in-out;
    animation-delay: 5s;
    animation-direction: alternate;
}
@keyframes programlist {
    0% { background-color: aqua;}
    25% { background-color: burlywood;}
    50% { background-color: coral;}
    75% { background-color: slateblue;}
    100% { background-color: peachpuff;}
    
}
.responsive-program-img {
    width: 280px;
    height: auto;
}
.img-text {
    font-size: 1.2em;
    animation-name: img-text;
    animation-duration: 10s;
    animation-iteration-count: 4;
    animation-fill-mode: alternate; 
    animation-timing-function: inherit;
    animation-direction: alternate;

}
@keyframes img-text {
    0% { background-color: black;}
    25% { background-color: blue;}
    50% { background-color: brown;}
    75% { background-color: darkblue;}
    100% { background-color: darkgreen;}
}
.img-text:hover {
    font-size: 2em;
    background-color: yellow;
    color: black;
}
.container-middle {
    height: 300%;
}
.car1_item {
    width: 2px;
}
.container-right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.right-top {
    height: 70vh;
    width: 23vw;
}
.responsive-righttop{
    width: 300px;
    height: 400px;
}
.blogs-area {
    height: 80vh;
    width: 23vw;
}
.blogs {
    width: 20vw;
    height: 99vh;
    color: gold;
}
.blg {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: fit-content;
}
.blgtext {
    width: 10vw;
    margin-left: 10px;
}
.blgtext-h {
    font-size: 1em;
}
.blgtext-p {
    font-size: .8em;
    margin-top: -10px;
    color: white;
}
.evergreen{
    background-color: rgb(43, 17, 66);
    width: 20vw;
    margin-bottom: 20px;
}

.highlight{
    height: 700px;
    width: 20vw;
}
.heading{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: gold;
    font-size: .7em;
}
.content-evergreen {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text {
    align-items: center;
    width: 10vw;
    font-size: 1em; 
    color: white;
    margin-left: 10px;
}
.play-icon {
    display: flex;
    justify-self: flex-end;
    height: 30px;
    width: 30px;
    margin-bottom:-30px;
}

.footer {
    background-color: rgba(7, 7, 54, 0);
}
.footer-top {
    height: 10vh;
    width: 98.75vw;
    margin: 0;
    background-color: rgb(35, 13, 56);
}
.footer-top div {
    width: 98.75vw;
    height: 8vh;
    color: rgb(146, 112, 68);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
}
.Social-icon div {
    margin-top: 15px;
    height: 38px;
    width: 38px;
}
.footer-bottom {
    background-image: url("../Abid Tanoli/Program/ftr/ftr_bg.jpg");
    height: 40px;
    width: 98.75vw;
}
.bottom-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    color: rgb(146, 112, 68);
    padding: 10px;
}